/* reset.scss */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend,
input,
button,
textarea,
pre,
blockquote,
address {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img,
object,
embed {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Agrega más estilos de reset según tus necesidades */
