<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stilo/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div style="display: flex;" id="header1">
            <div>
                _ _ _
            </div>
            <div>
                <h1>Logo Empresa</h1>
            </div>
            <div>
                <p>Ingresar/Registrar</p>
            </div>
        </div>
        <div style="display: flex;" id="header2">
            <div>
                <h1>Nombre del proyecto</h1>
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </header>
    <main>
        <section class="Images">
            <div>
                <img src="" alt="">
                <!-- Script para generar imagenes del proyecto -->
            </div>
        </section>
        <section>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ea laborum recusandae, provident porro
                    eveniet nostrum facere tempore cumque, officia consectetur accusamus voluptatem iusto, blanditiis
                    sunt minus deleniti hic eum! </p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus incidunt optio saepe, earum a quam
                    sequi ad nisi eum similique voluptatibus autem totam dolorem ut cumque excepturi! Dolor, dolore
                    nostrum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus deleniti sed magnam
                    illum rerum qui molestias debitis alias, quia, dignissimos iusto atque et? Earum ex culpa sapiente
                    ut optio dignissimos!</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus incidunt optio saepe, earum a quam
                    sequi ad nisi eum similique voluptatibus autem totam dolorem ut cumque excepturi! Dolor, dolore
                    nostrum.</p>
            </div>
        </section>
    </main>
    <footer>
        <div style="display: flex;">
            <div style="display: flex;">
                <img src="" alt="" id="img1">
                <div>
                    <img src="" alt="" id="img2">
                    <h2>Nombre del Emprendedor</h2>
                </div>
                <button type="button">Invertir Proyecto</button>
                <button type="button"></button>
            </div>
        </div>
    </footer>
</body>

</html>