

hr {
    border: 1px solid #ddd;
}

/* Estilos para el área de arrastrar y soltar */
.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.drop-area label {
    cursor: pointer;
}

.drop-area.dragover {
    background-color: #f0f0f0;
}

/* Estilos para el input de tipo file oculto */
#thumbnail {
    display: none;
}

/* Vista previa de la imagen */
#preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
}

/* Estilos para el botón de "Ingresar Archivo" */
#file-upload-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#file-upload-btn:hover {
    background-color: #45a049;
}

.c1{
    display: flex;
    margin: 1rem;
    
} input{
    margin-right: 1rem;
}